doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="vistaprincipal", content="width=device-width, initial-scale=1.0")

        title #{tituloR} | #{titulo}

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Staatliches&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Staatliches&display=swap' rel='stylesheet')

        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")

        //Este es el CDN de la API que se encargara de ponernos el mapa
        script(src='https://unpkg.com/leaflet/dist/leaflet.js')
        link(rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css")
        style.
            #map {
                height: 500px;
                width: 100%;
            }
        title Titulo de la pagina

    body(class=clase)
        include header
        block slider
        block contenido
        include footer
